/* BODY */
body {
  background-color: #ffe6f0;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
nav ul {
  list-style: none;
  background: hotpink;
  padding: 10px;
}
nav ul li {
  display: inline;
  margin: 15px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  text-decoration: underline;
}

/* CONTAINERS */
.container {
  width: 85%;
  margin: auto;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.section1 { background-color: #ffffff; }
.section2 { background-color: #fddde6; }
.section3 { background-color: #ffffff; }
.section4 { background-color: #fddde6; }
.section5 { background-color: #ffffff; }

/* COLUMNS */
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  flex: 50%;
  padding: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .column {
    flex: 100%;
  }
}

/* MEDIA */
img {
  width: 200px;
  height: 250px;
  border: 3px solid hotpink;
  margin: 10px;
  border-radius: 10px;
}

/* TABLE */
table {
  margin: 20px auto;
  border-collapse: collapse;
}
td, th {
  border: 1px solid black;
  padding: 8px;
}
th {
  background-color: pink;
}

/* BUTTON */
button {
  padding: 10px;
  border-radius: 8px;
  background: hotpink;
  color: white;
  border: none;
}
button:hover {
  background: deeppink;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: hotpink;
  color: white;
  padding: 10px;
}
